<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin2.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/aanibarr0770/b1ee7e90-0028-4d0e-a6a4-3be51b95559f/_packaging/Tailspin2.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>